терминалы обозначены красным

<программа>   	P 	->  {D} {Z}
<объявление_переменной>	D 	->  [ int | char ] I { , I} ;
<функция>			Z	->  [ int | char ] I ( D1 { , D1} ) { {D} {S} }
<параметр> 			D1	->  [ int | char ] I { , [ int | char ] I}

<оператор>			S 	->  if ( E0 ) { {S} } |
					     if ( E0 ) { {S} } else { { S } }|
					     while ( E0 ) { {S} } |
					     for ( I = E0 ; E0 ; I = E0 ) { {S} } |
     I ( E0 { , E0 } ) |
     ret E0 |
     E0

h0 - <присваивание>	E0	->   E | I = E0 ;	 
h1 - <выражение> 		E 	->   E1 [ == | != | < | > | <= | >= ] E1 | E1
h2 - <выражение1> 		E1 	->   T {[ + | - ] T}
h3 - <терм> 			T 	->   Т1 {[ * | / | % ] Т1}
h4 - <+-терм>			Т1	->   [ + | - | λ ] F0
h5 - <скобки>		F0	->   F | ( E0 )
atom - <атом> 		F 	->   I | N 

<имя>				 I 	->   C | IC | IR
<число> 			N 	->   R | NR 
				C 	->   { a | b | ... | z | A | B | ... | Z }
				R 	->  { 0 | 1 | 2 | ... | 9 }





терминалы обозначены красным

<программа> 		P 	->  {D} {Z}
<объявление_переменной>	D 	->  [ int ] I { , I} ;
<функция>			Z	->  [ int ] I ( D1 { , D1} ) { {D} {S} }
<параметр> 			D1	->  [ int ] I { , [ int ] I}

<оператор>			S 	->  if ( E0 ) { {S} } |
					     if ( E0 ) { {S} } else { { S } }|
					      ( I = E0 ; E0 ; I = E0 )& {N}

h0 - <присваивание>	E0	->   E | F
h1 - <выражение> 		E 	->   E1 [ == | != | < | > | <= | >= ] E1 | E1
h2 - <выражение1> 		E1 	->   T {[ + | - ] T}
h3 - <терм> 			T 	->   Т1 {[ * | / | % ] Т1}
h4 - <+-терм>			Т1	->   [ + | - | λ ] F0
h5 - <скобки>		F0	->   F | ( E0 )
atom - <атом> 		F 	->   N 

<имя>				 I 	->   C
<число> 			N 	->   R | NR 
				C 	->   { a | b | ... | z | A | B | ... | Z }
				R 	->  { 0 | 1 | 2 | ... | 9 }









